@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container($max-width: null) {
  width: 100%;
  max-width: if($max-width != null, $max-width, none);
  margin: 0 auto;
  padding: 0 2rem; // padding cố định cho toàn trang
}

@mixin transition($props...) {
  transition: $props;
}

@mixin truncate-text($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
